typeful:
    types:
        int:
            class: SeStep\Typeful\Types\IntType
        text:
            class: SeStep\Typeful\Types\TextType
        date:
            class: SeStep\Typeful\Types\DateType
        dateTime:
            class: SeStep\Typeful\Types\DateTimeType
        selection:
            class: SeStep\Typeful\Types\SelectionType
